<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysRegionMapper">


    <!--通过pid查询城市-->
    <select id="getSysRegionByPid" resultType="org.jeecg.modules.system.vo.SysRegionVO">
        SELECT
        id as value,name as label,pid
        from
        sys_region
        WHERE pid = #{pid}
    </select>

    <!--通过id查询城市-->
    <select id="getSysRegionById" resultType="org.jeecg.modules.system.vo.SysRegionVO">
        SELECT
        id as value,name as label,pid
        from
        sys_region
        WHERE id = #{id}
    </select>


</mapper>